.ArticleContainer {
  .TopData {
    padding-top: 30px;
    background-color: salmon;
    max-width: 1000px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
    @media (max-width: 768px) {
      max-width: 95%;
      margin: 0 auto;
      padding: 30px 10px;
      margin-top: 30px;
    }
    h1 {
      text-align: center;
      font-weight: 700;
      font-size: 30px;
    }
    .SubDataContainer {
      display: flex;
      justify-content: space-between;
      max-width: 400px;
      margin: 0 auto;
      padding: 18px 0;
      p {
        font-size: 19px;
        font-weight: bold;
        background-color: white;
        padding: 5px 10px;
        border-radius: 10px;
      }
    }
  }

  .CommentsSection {
    background-color: rgb(240, 239, 239);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    max-width: 1000px;
    margin: 30px auto;
    padding: 15px;
    h1 {
      font-size: 19px;
      margin: 0;
      font-weight: 700;
      border-bottom: 1px solid rgb(147, 144, 144);
      text-transform: capitalize;
      padding-bottom: 10px;
    }
  }
}

.Comments {
  background-color: rgb(149, 103, 97);
  font-weight: 700;
  padding: 10px 10px;
  border-radius: 10px;
  color: #fff;
  margin: 19px 0;
  margin-left: 5px;

  .ButtonShow {
    font-size: 10px;
    margin-top: 10px;
    background-color: black;
    padding: 5px;
    width: fit-content;
    border-radius: 10px;
    &:hover {
      cursor: pointer;
      color: #000;
      background-color: #fff;
    }
  }
}
