.HomeContainer {
  padding-top: 30px;
  h1 {
    text-align: center;
    margin: 0;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px 5px;
    border-radius: 5px;
    font-size: 30px;
    letter-spacing: 0.09rem;
  }
  .InputContainer {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    .Button {
      margin-left: 15px;
    }
  }

  .MessageText {
    text-align: center;
    margin: 18px 0;
    font-weight: 800;
    font-size: 30px;
    border-bottom: 1px solid black;
  }

  .ResultsContainer {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    flex-wrap: wrap;
    margin-top: 30px;
    .Card {
      min-width: 380px;
      max-width: 380px;
      padding: 10px 0px;
      border-radius: 10px;
      margin: 10px auto;
      background-color: black;
      color: #fff;
      padding-bottom: 0px;
      position: relative;
      transition: transform 0.3s ease-in-out;
      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
      h1 {
        font-size: 19px;
        margin: 0;
        padding: 70px 5px;
      }
      .SubData {
        position: absolute;
        background-color: salmon;
        font-weight: bold;
        display: flex;
        border-radius: 0px 0px 10px 10px;
        width: 100%;
        padding: 4px 5px;
        justify-content: space-between;
        bottom: 0;
      }
    }
  }
}
